#!/usr/bin/make -f
# debian/rules for the Debian libkrunfw package
# Copyright © 2024 Andreas Schröder <andreas@kernelpanik.net>

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# for some reason MAKEFLAGS was set to "w" in sub make execution
MAKEFLAGS += --no-print-directory

# change PREFIX and LIBDIR options
override_dh_auto_build:
	sed -i 's/usr\/local/usr/' Makefile
	sed -i 's/LIBDIR_Linux = lib64$$/LIBDIR_Linux = lib/' Makefile
	make -j12

%:
	dh $@
